name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  tests:
    name: Tests & Checks
    runs-on: ubuntu-latest

    # Sets the shell to use devenv: https://devenv.sh/integrations/github-actions/
    defaults:
      run:
        shell: devenv shell bash -- -e {0}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install Nix for build
        uses: nixbuild/nix-quick-install-action@v30
        with:
          nix_conf: |
            keep-env-derivations = true
            keep-outputs = true

      - name: Restore and save Nix store
        uses: nix-community/cache-nix-action@v6
        with:
          primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          restore-prefixes-first-match: nix-${{ runner.os }}-
          gc-max-store-size-linux: 1G
          purge: true
          purge-prefixes: nix-${{ runner.os }}-
          purge-created: 0
          purge-last-accessed: P1DT12H
          purge-primary-key: never

      - name: Setup caching with Cachix
        uses: cachix/cachix-action@v16
        with:
          name: devenv
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Install devenv.sh
        shell: bash
        run: command -v devenv &> /dev/null || nix profile install nixpkgs#devenv

      - name: Secret Scan (TruffleHog)
        uses: trufflesecurity/trufflehog@v3.92.5
        with:
          extra_args: --debug --only-verified

      - name: Run Pre-commit Hooks
        run: pre-commit run --all-files

      - name: Check Flake Evaluation
        run: nix flake check
